@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1F2937;
  --secondary: #F26711;
}

body {
  @apply bg-gray-50;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
